@font-face {
  font-family: 'IBMBIOS';
  src: url(ibm_bios/Web437_IBM_BIOS.woff) format('woff');
}

.div__entries-area::-webkit-scrollbar {
  width: 15px;
}

.div__entries-area::-webkit-scrollbar-track {
  background: #0000AA; 
}
 
.div__entries-area::-webkit-scrollbar-thumb {
  background: white; 
}

.div__entries-area::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.div__entries-area {
  border-style: double;
  border-width: 7px;
  overflow: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.div__console-entry-wrapper {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.div__console-entry {
  flex-grow: 1;
}

.div__focus-indicator {
  min-width: 5px;
  min-height: 100%;
  background-color: white;
  margin-right: 10px;
}

.div__focus-indicator--hidden {
  min-width: 5px;
  min-height: 100%;
  background-color: transparent;
  margin-right: 10px;
}

.div__prompt-yes-no--selected {
  background-color: white;
  color:black;
  display: inline;
  border-radius: 0px;
}

.div__prompt-yes-no {
  display: inline;
  border-radius: 0px;
}

.div__prompt-yes-no-divider {
  display: inline;
}

.div__output-container {
  white-space: pre-line;
}

.div__menu-items {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100%;
  width: 100%;
  margin: 20px 0;
}

.div__menu-item {
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 0px;
  background-color: transparent;
  color: #FFFF55;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

.div__menu-item-bullet {
  margin-right: 10px;
}

.div__menu-item-bullet--focused {
  color: white;
}

.div__menu-item-header {
  min-width: 0;
  min-height: 0;
}

.div__menu-item:hover {
  background-color: #AA0000;
  color: white;
}

.div__menu-item--activated {
  background-color: #AA0000;
  color: white;
  width: 100%;
  text-align: left;
  border-radius: 0px;
  border: none;
}

.button__menu-item--activated:hover {
  
}

.h2__title-output-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

.form__text-prompt-input-button-container {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  flex-wrap: wrap;
}

.button__text-prompt-button {
  background-color: transparent;
  border: solid;
  border-radius: 0;
  height: 50px;
}

.div__text-prompt-button {
  padding: 5px;
  display: flex;
}

.div__text-prompt-input {
  padding: 5px;
  display: flex;
  flex-grow: 1;
}

.input__text-prompt-input {
  height: 50px;
  width: 100%;
  border: solid;
  background-color: transparent;
  font-family: 'IBMBIOS';
  font-size: 1rem;
  caret-shape: underscore;
}
