@font-face {
  font-family: 'IBMBIOS';
  src: url(/ibm_bios/Web437_IBM_BIOS.woff) format('woff');
  font-display: swap;
}

.div__entries-area::-webkit-scrollbar {
  width: 15px;
}

.div__entries-area::-webkit-scrollbar-track {
  background: #0000AA; 
}
 
.div__entries-area::-webkit-scrollbar-thumb {
  background: white; 
}

.div__entries-area {
  border-style: double;
  border-width: 7px;
  overflow: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.div__console-entry-wrapper {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.div__console-entry-wrapper:focus, .div__console-entry-wrapper:focus-within {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #FFFF55;
} 

.div__console-entry {
  flex-grow: 1;
}

.div__focus-indicator {
  min-width: 5px;
  min-height: 100%;
  background-color: white;
  margin-right: 10px;
}

.div__focus-indicator--hidden {
  min-width: 5px;
  min-height: 100%;
  background-color: transparent;
  margin-right: 10px;
}

.div__prompt-yes-no--selected {
  background-color: white;
  color:black;
  display: inline;
  border-radius: 0px;
}

.div__prompt-yes-no {
  display: inline;
  border-radius: 0px;
}

.div__prompt-yes-no-divider {
  display: inline;
}

.div__output-container {
  white-space: pre-line;
}

.div__radio-menu-items {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100%;
  width: 100%;
  margin: 20px 0;
}

.div__radio-menu-item {
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 0px;
  background-color: transparent;
  color: #FFFF55;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

.div__radio-menu-item-bullet {
  margin-right: 10px;
}

.div__radio-menu-item-bullet--focused {
  color: white;
}

.div__radio-menu-item-header {
  min-width: 0;
  min-height: 0;
}

@media (hover: hover) {
  .div__radio-menu-item:hover {
    background-color: #AA0000;
    color: white;
  }
}

.div__radio-menu-item--activated {
  background-color: #AA0000;
  color: white;
  width: 100%;
  text-align: left;
  border-radius: 0px;
  border: none;
}

.h2__title-output-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: center;
}

@media (max-width: 1000px) {
  .h2__title-output-container {
    font-size: 0.75rem;
  }
}

@media (max-width: 700px) {
  .h2__title-output-container {
    font-size: 0.5rem;
  }
}

.div__text-prompt-input-button-container {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  flex-wrap: wrap;
}

.div__text-prompt-input-button-container--multiline {
  flex-direction: column;
}

.button__text-prompt-button {
  background-color: transparent;
  border: solid;
  border-radius: 0;
  font-family: 'IBMBIOS';
  color: white;
  border-width: 2px;
  outline-width: 2px;
  outline-color: #FFFF55;
  padding: 1em;
  cursor: pointer;
}

@media (hover: hover) {
  .button__text-prompt-button:hover {
    background-color: #AA0000;
    color: white;
  }
}

.button__text-prompt-button:focus {
  outline-style: solid;
}

.div__text-prompt-error {
  color: #FFFF55;
}

.div__text-prompt-button {
  padding: 5px;
  display: flex;
}

.div__text-prompt-input {
  padding: 5px;
  display: flex;
  flex-grow: 1;
}

.input__text-prompt-input {
  width: 100%;
  padding: 1em;
  border-style: solid;
  background-color: transparent;
  font-family: 'IBMBIOS';
  font-size: 1rem;
  border-width: 2px;
  border-color: white;
  color: white;
  border-radius: 0;
  /* caret-shape: underscore; */
}

.textarea__text-prompt-input {
  width: 100%;
  resize: none;
  height: 15em;
  font-family: 'Courier New', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.textarea__text-prompt-input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #FFFF55;
}

.input__text-prompt-input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #FFFF55;
}

.div__info-confirm-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.div__info-confirm-info {
  background-color: rgb(241, 241, 241);
  color: black;
  padding: 1em;
  font-size: 1.2rem;
  max-height: 20em;
  font-family: 'Courier New', monospace;
  font-weight: 600;
  overflow-y: scroll;
}

.button__info-confirm {
  background-color: transparent;
  border: solid;
  border-radius: 0;
  font-family: 'IBMBIOS';
  color: white;
  border-width: 2px;
  outline-width: 2px;
  outline-color: #FFFF55;
  padding: 1em;
  cursor: pointer;
}

.button__info-confirm--confirmed {
  background-color: #AA0000;
  color: white;
}

@media (hover: hover) {
  .button__info-confirm:hover {
    background-color: #AA0000;
    color: white;
  }
}

.button__info-confirm:focus {
  outline-style: solid;
}

.div__request-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__request-button {
  background-color: transparent;
  border: solid;
  border-radius: 0;
  font-family: 'IBMBIOS';
  color: white;
  border-width: 2px;
  outline-width: 2px;
  outline-color: #FFFF55;
  padding: 1em;
  cursor: pointer;
}

.div__request-button-message--error {
  padding: 1em;
  color: #FFFF55;
}

@media (hover: hover) {
  .button__request-button:hover {
    background-color: #AA0000;
    color: white;
  }
}

.button__request-button:focus {
  outline-style: solid;
}
