* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

/* latin-ext */
@font-face {
  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Jersey10/GftH7vZKsggXMf9n_J5n8Zjh-1w.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Jersey 10';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Jersey10/GftH7vZKsggXMf9n_J5n_5jh.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Protest Guerrilla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(ProtestGuerrilla/Qw3HZR5PDSL6K3irtrY-VJB2YzARHW0jqp4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'FiveByFive';
  src: url(FiveByFive/FiveByFive.woff2);
}


@font-face {
  font-family: 'IBMBIOS';
  src: url(ibm_bios/Web437_IBM_BIOS.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(AlegreyaSC/taiTGmRtCJ62-O0HhNEa-ZZc-oU2SKo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes glow {
  from {
    text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 1em #e60073;
  }
  to {
    text-shadow: 0 0 0.5em #fa72b6, 0 0 0.75em #ff4da6, 0 0 1.25em #ff4da6;
  }
}

.div__app-wrapper {
  position: relative;
}

.h1__offer {
  font-family: 'Protest Guerrilla';
  font-weight: 400;
  font-style: normal;
  /* font-size: 7rem; */
  font-size: calc(1rem + 6vw);
  /* font-size: 10vw; */
  width: 10ch;
  margin: 0.75em 0.1em;
  color: white;
  cursor:default;
  /* animation: glow 5s ease-in-out infinite alternate; */
  text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 1em #e60073;
}

#root {
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --switch-slider-width: 2em;
  --switch-slider-height: 1em;
  --switch-handle-scale: 0.7;
  /* --switch-fg-color: #e60073; */
  --switch-fg-color: #271623;
  --switch-bg-color: rgba(255, 243, 215, 0.94);
  --switch-hover-color: white;
}

.div__layout-row {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.a__logo-title {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  /* display: flex; */
  color: white;
  padding: 0.5em 0.75em;
  /* margin: 0.25em 0.75em; */
  animation: glow 1s ease-in-out infinite alternate;
  transition: all 0.1s ease-in-out;
  white-space: nowrap;
  /* flex-shrink: 0; */
  /* align-items: center; */
}

.a__logo-title--party-mode {
  animation: logo-party 0.5s infinite;
}

@keyframes logo-party {
  0%{
    transform: translateY(0);
}
50%{
    transform: translateY(0.2em);
}
100%{
    transform: translateY(0);
}
}

.a__logo-title:hover {
  color: white;
  transform: scale(1.1);
  padding-left: 1em;
  padding-right: 1em;
}

.img__logo {
  image-rendering: pixelated;
  width: 1em;
  height: 1em;
}

.nav__navbar {
  display: flex;
  background-color: #271623;
  align-items: center;
  /* padding: 0.75em 0; */
}

.div__menu-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.div__menu-item-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.div__menu-top-items {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.a__navbar__page {
  color: white;
  padding: 0.6em;
  /* padding: 0.25em 0.6em; */
  /* margin: auto 0; */
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.5em;
  font-size: 1.4rem;
  /* font-family: "Copperplate Gothic"; */
  /* font-family: 'Balthazar'; */
  font-family: 'Alegreya SC';
  text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 1em #e60073;
  transition: all 0.1s ease-in-out;
}

.a__navbar__page:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.1);
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.div__burger-menu {
  display: none;
  width: 0;
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  transition: transform 0.1s ease-in-out;
  transition: margin-left 0.1s ease-in-out;
  transition: margin-right 0.1s ease-in-out;
  /* flex-shrink: 0; */
}

.div__burger-menu:hover {
  transform: scale(1.2);
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.div__burger-menu-line {
  height: 2px;
  margin: calc((25px + 2px) / 3 / 2) 0;
  background-color: white;
  box-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073;
}

@media (max-width: 1200px) {
  .div__burger-menu {
    display: block;
    width: 25px;
    height: 25px;
  }

  .div__nav-container {
    flex-direction: column;
  }

  .div__menu-items {
    flex-direction: column;
    background-color: white;
    /* flex-grow: 1; */
    margin: 4px 0;
    align-items: center;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    height: 100%;
    opacity: 1;
  }

  .div__menu-item-links {
    flex-direction: column;
  }

  .div__menu-items--hidden {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
  }

  .a__navbar__page {
    color: black;
    text-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
  }

  .a__navbar__page:hover {
    color: black;
    text-decoration: underline;
    transform: none;
    padding-left: 1em;
    padding-right: 1em;
    /* transform: scale(1.1); */
    /* padding-left: 1.2em; */
    /* padding-right: 1.2em; */
  }

  .nav__navbar {
    flex-direction: column;
  }

  :root {
    --switch-fg-color: rgb(255, 255, 255);
    --switch-bg-color: rgb(91, 91, 91);
    --switch-hover-color: rgb(180, 180, 180);
  }

  /* .nav__navbar {
    flex-direction: column;
  } */
}

.div__banner {
  min-height: 200px;
  /* background-color: rgba(31, 31, 31, 0.3); */
  color: white;
  /* margin-top: 10px; */
}

@keyframes CautionScroll {
  0% {
    background-position: calc(var(--d)/sin(var(--angle))) 0;
  }
}

.img__controller {
  image-rendering: pixelated;
  width: 150px;
  margin: auto;
  animation: spin 3s linear infinite;
  perspective: 800px;
}

@keyframes spin {
  0%{
     transform: rotateY(0deg);
  }
  100%{
      transform: rotateY(360deg);
  }
}

.div__banner__content {
  display: flex;
  flex-direction: column;
}

.div__banner__content__col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  align-items: center;
}


.div__actionable-offer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  color: white;
}

.div__yellow-stripe {
  height: 6px;
  background-color: rgba(209, 171, 21, 1);
  background-position: center;
  background-image: url(caution.png);
  background-repeat:repeat-x;
  background-size: 100px;
}

.div__black-stripe {
  height: 40px;
  background-color: #271623;
}

.div__start-lessons-arrow {
  padding: 0.5em;
  font-size: 3rem;
}

.div__actionable-offer__item {
  margin: 1em;
  padding: 0.3em 0em;
  background-image: url(caution.png);
  background-size: 100px 110%;
  background-repeat: repeat-x;
  background-position: center;
  transition: all 0.1s ease-in-out;
  font-size: calc(1rem + 1vw);
}

.div__actionable-offer__item:hover {
  transform: scale(1.05);
}

.a__start-lessons:link, .a__start-lessons:visited {
  /* border-radius: 500px; */
  text-align: center;
  text-decoration: none;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: 'IBMBIOS';
  text-transform: uppercase;
  display: block;
  padding: 0.5em;
  line-height: 2em;
  /* background-image: linear-gradient(45deg in hsl longer hue, red, blue); */
  /* color: transparent; */
  color: white;
  background-color: #1f1f1f;
  /* background-image: url(caution.png); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* animation: glow 4s ease-in-out infinite alternate; */
  text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 1em #e60073;
}

.a__start-lessons:hover {
  /* transform: scale(1.05); */
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 0.2em;
}

.party-mode {
  animation: rainbow 1s linear infinite;
}

.img__party-mode-overlay {
  background-image: url(party-mode-overlay.png);
  background-repeat: repeat;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img__party-mode-overlay--1 {
  z-index: 1000;
  mix-blend-mode: normal;
  animation: rainbow-overlay-1 20s linear infinite;
}

.img__party-mode-overlay--2 {
  background-size: 300%;
  z-index: 1001;
  mix-blend-mode:color-burn;
  animation: rainbow-overlay-2 30s linear infinite;
}

@keyframes rainbow-overlay-1 {
  0% {
    background-position : 0px 0px;
    filter: hue-rotate(0);
  }
  100% {
    background-position : -1024px -1024px;
    filter: hue-rotate(3600deg);
  }
}

@keyframes rainbow-overlay-2 {
  0% {
    background-position : 0px 0px;
    filter: hue-rotate(0);
  }
  100% {
    background-position : 1024px -1024px;
    filter: hue-rotate(1800deg);
  }
}

.div__layout-wrapper {
  /* background-image: url(lab.jpg); */
  
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  /* overflow: auto; */
  width: 100%;
  /* max-width: 100%; */
  min-height: 100vh;
  min-height: 100dvh;
}

.div__layout-main-wrapper {
  background-color: black;
  background-image: url(server-racks.jpg);
  background-repeat: no-repeat;
  background-size: clamp(100%, 200%, 900px) ;
  /* background-size: contain; */
  background-position: top center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.div__layout-main {
  --d:500px;
  --angle:45deg;
  background-color: white;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 1;
  background: repeating-linear-gradient(
    var(--angle),
    #562f4c45,
    #562f4c6a calc(var(--d) / 2.0),
    #1f1f1f6e calc(var(--d) / 2.0),
    rgba(31, 31, 31, 0.375) var(--d)
  );
  background-size: calc(var(--d)/sin(var(--angle))) 100%;
  background-position: 0 100%;
  /* animation: CautionScroll 20s linear infinite reverse; */
}

.div__features-divider {
  /* margin: 2em 0em 0em 0em; */
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.578); */
  /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(23, 23, 23, 0.9), rgba(0, 0, 0, 0.1));  */
  background-color: rgb(22, 18, 22);
}

.div__features-divider-line {
  flex-grow: 1;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.185);
  /* margin: 1.5em 0.5em 0em 0.5em; */
  box-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073;
}

.div__features-label-container {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  /* justify-items: center; */
  align-items: center;
}

.h2__features-label-text {
  font-family: 'Alegreya SC';
  /* color: rgba(255, 243, 215, 0.94); */
  color:white;
  /* background-color: rgba(253, 255, 185, 0.865); */
  text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073;
  text-align: center;
  cursor: default;
  margin: 0.3em 0em;
  font-size: 2rem;
  /* mix-blend-mode: screen; */
  /* color: black; */
  /* background-color: white; */
}

.div__features-label-arrow {
  font-family: 'Alegreya SC';
  /* text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073; */
  text-align: center;
  cursor: default;
  font-size: 2rem;
  /* transform: rotate(90deg); */
  color: rgba(255, 243, 215, 0.94);
}

.div__features {
  display: flex;
  padding: 1em 5% 2em;
  flex-grow: 1;
  /* backdrop-filter: blur(20px); */
  /* height: 100%; */
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
  align-content: flex-start;
  /* backdrop-filter: saturate(50%); */
  /* background-color: rgba(0, 0, 0, 0.325); */
  /* background-image: linear-gradient(#7e825e4b, rgba(0, 0, 0, 0.728));  */
  /* background-image: linear-gradient(#6e1276a3, rgba(55, 0, 50, 0.426), #000000b7), url(circuit.png); */
  background-image: radial-gradient(ellipse at top, #9070913d, rgba(72, 20, 102, 0.294), #000000c2);
  background-size: 100%;

  /* background-blend-mode:multiply; */
  
  /* background-color: #3433347d; */
}

.div__feature {
  padding: 20px;
  margin: 15px;
  max-width: 35ch;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073; */
  background-color: rgba(44, 34, 43, 0.648);
  backdrop-filter: blur(3px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  transform: scale(0.97);
}

.div__feature:hover {
  transform: none;
}

.img__feature__arrow-bullet {
  width: 20px;
  image-rendering: pixelated;
}

.h2__feature-title {
  font-family: 'Alegreya SC';
  text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073;
  text-align: center;
  cursor: default;
}

.p__feature-body {
  font-family: Tahoma, sans-serif;
  margin: auto;
  padding: 0.5em;
  text-align: center;
  cursor: default;
}

.a__feature-button:link, .a__feature-button:visited {
  color: rgba(255, 243, 215, 0.94);
  font-family: 'Alegreya SC';
  /* border: 2px solid white; */
  border-radius: 6px;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em;
  font-size: 1.2rem;
  /* transition: all 0.1s ease-in-out; */
}

.a__feature-button:hover, .a__feature-button:active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 0.2em;
}

@keyframes rainbow {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.div__page-wrapper {
  display: flex;
  background-color: white;
  /* align-items: center; */
  justify-content: center;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  /* max-width: calc(800px - (30px * 2)); */
  /* margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; */
}

.div__page {
  padding: 20px;
  width: 50ch;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 20px;
  /* backdrop-filter: blur(10px); */
  border-radius: 5px;
  /* box-shadow: inset 0px 0px 40px 40px #1e1e1e45; */
  color: black;
}

.div__page h1 {
  font-family: 'Alegreya SC';
  font-size: 3rem;
}

.div__page h2 {
  font-family: 'Alegreya SC';
  font-size: 2rem;
}

.div__page h3 {
  font-family: 'Alegreya SC';
}

.div__page li {
  font-family: Calibri, sans-serif
}

.div__page p {
  font-family:Tahoma, sans-serif;
}

.div__page img {
  width: 100%;
}

.div__page-bottom {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.button__back-to-top {
  background-color: transparent;
  border-width: 0;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1em;
  text-shadow: 0 0 0em #e7378f, 0 0 0.5em #e60073, 0 0 0.75em #e60073;
  line-height: 1.0;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.button__back-to-top:hover {
  letter-spacing: 0.05rem;
  /* transform: scale(1.1); */
}

.button__back-to-top--hidden {
  color: transparent;
  text-shadow: none;
}

.div__marquee-container {
  padding: 0.3em 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.span__marquee-spacer {
  width: 100vw;
  display: inline-block;
}

.div__marquee {
  position: relative;
  height: 1em;
  display: block;
}

.p__marquee-text {
  position:absolute;
  height: 1em;
  margin: 0;
  color: rgb(244, 239, 226);
  text-shadow: 0 0 0.1em rgb(230, 182, 70);
  white-space: nowrap;
  font-family: 'FiveByFive';
  font-size: 1rem;
  text-transform:uppercase;
  cursor: default;
  animation: marquee-scroll 100s linear infinite;
}

.span__marquee-text-part {
  transform: translate3d(0, 0, 0); /* Fixes iOS bug where text would disappear */
  display: inline-block;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.div__switch-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 1em;
}

.svg__switch-triangle {
  width: 0.4em;
  min-width: 0.4em;
  height: 0.4em;
  min-height: 0.4em;
}

.svg__switch-triangle * {
  width: 100%;
  height: 100%;
  fill: var(--switch-bg-color);
}

.svg__switch-triangle--hovered * {
  fill: var(--switch-hover-color);
}

.div__switch-label {
  font-family: Tahoma, sans-serif;
  /* font-family: 'Tw Cen MT Condensed'; */
  font-weight: 600;
  color: var(--switch-bg-color);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0.5em;
  text-align: right;
  cursor: default;
}

.div__switch-label--hovered {
  color: var(--switch-hover-color);
}

.div__switch {
  margin: 0.5em;
  cursor: pointer;
}

.div__switch-slider {
  background-color: var(--switch-bg-color);
  height: var(--switch-slider-height);
  width: var(--switch-slider-width);
  border-radius: calc(var(--switch-slider-height)/2) / 50%;
  overflow: visible;
}

.div__switch-slider--hovered {
  background-color: var(--switch-hover-color);
}

.div__switch-handle {
  background-color: var(--switch-fg-color);
  height: var(--switch-slider-height);
  width: var(--switch-slider-height);
  border-radius: 50%;
  transform: scale(var(--switch-handle-scale));
}

.div__switch-handle--on {
  transform:
    translateX(
      calc(
        var(--switch-slider-width) - 
        var(--switch-slider-height)))
    scale(var(--switch-handle-scale));
}

.div__article-wrapper {
  margin: 2em 0;
}

.a__article {
  font-size: 1.4rem;
}
