

a {
  text-decoration: inherit;
}

html, body {
  margin: 0;
  display: flex;
  /* Required for marquee */
  min-width: 320px; 
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: black;
}
