.div__portal-page {
  overflow: hidden;
  display: flex;
  min-width: 100vw;
  min-width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;
}

.div__console-area-wrapper {
  background-color: #0000AA;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-grow: 1;
}

.div__console-area {
  background-color: #0000AA;
  font: 1.3rem Inconsolata, monospace;
  color: white;
  font-family: 'IBMBIOS';
  font-size: medium;
  width: 99vmin;
  width: 99dvmin;
  height: 99vh;
  height: 99dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.h1__console-header {
  margin: 10px;
  font-size: medium;
}

.aside__console-header-wrapper {
  min-width: 0;
  padding: 0;
}

.main__console-wrapper {
  flex-grow: 1;
  display: flex;
  height: 100%;
  min-width:200px;
  min-height: 200px;
}
