@font-face {
  font-family: 'IBMBIOS';
  src: url(ibm_bios/Web437_IBM_BIOS.woff) format('woff');
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000AA; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.div__entries-area {
  border-style: double;
  border-width: 7px;
  overflow: auto;
}

h2 {
  font-family: 'IBMBIOS';
  font-size: medium;
}

.div__console-entry {
  margin: 30px;
  /*text-shadow: 0 0 3px #20E458;*/
}

.div__prompt-yes-no--selected {
  background-color: white;
  color:black;
  display: inline;
  border-radius: 0px;
}

.div__prompt-yes-no {
  display: inline;
  border-radius: 0px;
}

.div__prompt-yes-no-divider {
  display: inline;
}

.div__output-container {
  white-space: pre-line;
}

.div__menu-item {
  margin: 20px 0 20px 0;
}

.button__menu-item::before {
  content:"► ";
}

.button__menu-item {
  width: 100%;
  text-align: left;
  border-radius: 0px;
  background-color: transparent;
  color: #FFFF55;
  border: none;
}

.button__menu-item:hover {
  background-color: #AA0000;
  color: white;
}

.button__menu-item:focus {
  outline: none;
}

.button__menu-item--activated {
  background-color: #AA0000;
  color: white;
  width: 100%;
  text-align: left;
  border-radius: 0px;
  border: none;
}

.button__menu-item--activated:hover {
  
}

.div__title-output-container {
  display: flex;
  flex-wrap: wrap;
  font-size: large;
}

.div__text-prompt-input-button-container {
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  flex-wrap: wrap;
}

.button__text-prompt-button {
  background-color: transparent;
  border: solid;
  border-radius: 0;
  height: 50px;
}

.div__text-prompt-button {
  padding: 5px;
  display: flex;
}

.div__text-prompt-input {
  padding: 5px;
  display: flex;
  flex-grow: 1;
}

.input__text-prompt-input {
  height: 50px;
  width: 100%;
  border: solid;
  background-color: transparent;
  font-family: 'IBMBIOS';
  font-size: large;
}
